.container  {
    display: flex;
    width: 1980px;
    height: 1080px;
    border: 2px solid teal;
}

.block_left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.block_center {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.block_right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}